MSMS_UPDATER_PUBLIC_KEY=
MSMS_UPDATER_STABLE_ENDPOINT=https://lionportal1gaming.github.io/msms/updates/stable/latest.json
MSMS_UPDATER_BETA_ENDPOINT=https://lionportal1gaming.github.io/msms/updates/beta/latest.json
